.background {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.32);
    position: fixed;
    z-index: 999;
    margin: -90px -100px;
}

.message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.message__container {
    width: 35%;
    height: 35%;
    background: white;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.message__header {
    font-size: 20px;
}

@media (max-width: 769px) {
    .background {
        margin: 0;
    }

    .message__container {
        width: 70%;
    }

}    