.backbase {
    background-image: url('./../images/backbase.png');
}

.texaco {
    background-image: url('./../images/texaco.png');
}

.the_tea_lounge {
    background-image: url('./../images/the-tea-lounge.png');
}

.amazon_online_store {
    background-image: url('./../images/amazon-online-store.png');
}

._-eleven {
    background-image: url('./../images/7-eleven.png');
}

.jerry_hildreth {
    background-image: url('./../images/jerry-hildreth.png');
}

.lawrence_pearson {
    background-image: url('./../images/lawrence-pearson.png');
}

.whole_foods {
    background-image: url('./../images/whole-foods.png');
}

.southern_electric_company {
    background-image: url('./../images/southern-electric-company.png');
}

.h_m_online_store {
    background-image: url('./../images//h&m-online-store.png');
}
